.hero.is-light {
  background: #ced7d8; }

.hero-main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero-main::before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    height: 11em;
    content: "";
    background: -webkit-linear-gradient(top, #0d1e34 25%, rgba(13, 30, 52, 0) 100%);
    background: -moz-linear-gradient(top, #0d1e34 25%, rgba(13, 30, 52, 0) 100%);
    background: linear-gradient(to bottom, #0d1e34 25%, rgba(13, 30, 52, 0) 100%); }
  .hero-main a .icon {
    color: #ffea04; }
  .hero-main a:hover .icon,
  .hero-main a:focus .icon {
    color: #feff5a; }

.hero.is-blue {
  color: #FFFFFF;
  background-color: #094ec0; }

.hero.is-marine {
  color: #FFFFFF;
  background-color: #4180c5; }

.hero.is-red {
  color: #FFFFFF;
  background-color: #d71b3b; }

.hero.is-orange {
  color: #FFFFFF;
  background-color: #f48640; }

.hero.is-fuchsia {
  color: #FFFFFF;
  background-color: #d902ee; }

.hero.is-dark {
  color: #FFFFFF;
  background-color: #320d3e; }

.hero.is-grey {
  color: #FFFFFF;
  background-color: #ced7d8; }

.hero.is-yellow {
  color: #FFFFFF;
  background-color: #ffea04; }

.hero.is-blue a,
.hero.is-marine a,
.hero.is-red a,
.hero.is-fuchsia a,
.hero.is-orange a,
.hero.is-dark a,
.hero.is-yellow a {
  color: #ced7d8; }
  .hero.is-blue a:hover, .hero.is-blue a:focus,
  .hero.is-marine a:hover,
  .hero.is-marine a:focus,
  .hero.is-red a:hover,
  .hero.is-red a:focus,
  .hero.is-fuchsia a:hover,
  .hero.is-fuchsia a:focus,
  .hero.is-orange a:hover,
  .hero.is-orange a:focus,
  .hero.is-dark a:hover,
  .hero.is-dark a:focus,
  .hero.is-yellow a:hover,
  .hero.is-yellow a:focus {
    color: #00bfff;
    background-color: #FFFFFF; }

.hero.is-light a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-grey a:not(.button):not(.dropdown-item):not(.tag) {
  color: #094ec0; }

.hero.is-light a:hover,
.hero.is-light a:focus,
.hero.is-grey a:hover,
.hero.is-grey a:focus {
  color: #00bfff;
  background-color: #FFFFFF; }

.hero-project .container .hero-body .title {
  color: currentColor;
  font-size: 2.5rem;
  line-height: 1em; }

.hero-project .container .hero-body .subtitle {
  color: currentColor;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 1.25rem;
  line-height: 1.4em; }

.hero-project .container .hero-body .title + .subtitle {
  margin-top: 1em; }

@media screen and (min-width: 769px) {
  .hero-project .container {
    display: flex;
    flex-direction: row; }
    .hero-project .container .hero-image {
      width: 50%; }
      .hero-project .container .hero-image img {
        display: block; }
    .hero-project .container .hero-body {
      padding: 2rem 2rem 2rem 1rem;
      z-index: +1;
      width: 50%; }
      .hero-project .container .hero-body .title {
        margin-top: 0.25em;
        margin-left: -1.25em;
        max-width: 12em; }
      .hero-project .container .hero-body .subtitle {
        font-size: 1.25rem; } }

@media screen and (min-width: 1024px) {
  .hero-project .container .hero-body {
    padding: 3rem 3rem 3rem 1.5rem; }
    .hero-project .container .hero-body .title {
      margin-top: 0.25em;
      font-size: 3.5rem; }
    .hero-project .container .hero-body .subtitle {
      font-size: 1.75rem; } }

.hero-initiative .container .hero-body .title {
  color: currentColor;
  font-size: 2.5rem;
  line-height: 1em; }

.hero-initiative .container .hero-body .subtitle {
  color: currentColor;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 1.25rem;
  line-height: 1.4em; }

.hero-initiative .container .hero-body .title + .subtitle {
  margin-top: 1em; }

@media screen and (min-width: 769px) {
  .hero-initiative .container {
    display: flex;
    flex-direction: row; }
    .hero-initiative .container .hero-image {
      box-sizing: border-box;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 3rem;
      width: 50%; }
      .hero-initiative .container .hero-image img {
        display: block; }
    .hero-initiative .container .hero-body {
      padding: 3rem 3rem 3rem 1.5rem;
      width: 50%;
      z-index: +1; }
      .hero-initiative .container .hero-body .title {
        display: inline-block;
        margin-top: 0.5em;
        margin-left: -1.25em; }
      .hero-initiative .container .hero-body .subtitle {
        font-size: 1.25rem; }
      .hero-initiative .container .hero-body .title + .subtitle {
        margin-top: 1em; } }

@media screen and (min-width: 1024px) {
  .hero-initiative .container .hero-body {
    padding: 3rem 3rem 3rem 1.5rem; }
    .hero-initiative .container .hero-body .title {
      margin-top: 0.25em;
      font-size: 3.5rem; }
    .hero-initiative .container .hero-body .subtitle {
      font-size: 1.75rem; } }

.hero-person .container .title {
  padding: 0.5em;
  color: currentColor;
  font-size: 2.5rem;
  line-height: 1em; }

.hero-person .container .subtitle {
  color: currentColor;
  font-size: 1.25rem;
  line-height: 1em; }

.hero-person .container .hero-body {
  padding-top: 0; }

.hero-person .container p {
  font-family: "Andale Mono", AndaleMono, monospace; }

.hero-person .container p + p {
  margin-top: 1.2em; }

@media screen and (min-width: 769px) {
  .hero-person .container {
    display: flex;
    flex-direction: row; }
    .hero-person .container .hero-image {
      box-sizing: border-box;
      padding: 3rem 3rem 3rem 6rem;
      width: 50%; }
      .hero-person .container .hero-image img {
        display: block; }
      .hero-person .container .hero-image .title {
        position: relative;
        margin-top: -1.5em;
        margin-left: -1.25em;
        padding-bottom: 0.5em;
        z-index: +1; }
    .hero-person .container .hero-body {
      padding: 3rem 3rem 3rem 1.5rem;
      width: 50%; }
      .hero-person .container .hero-body .subtitle {
        font-weight: bold; }
      .hero-person .container .hero-body .subtitle + p {
        margin-top: 1.2em; } }

@media screen and (min-width: 1024px) {
  .hero-person .container .subtitle {
    font-size: 1.75rem; } }
