{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('drutopia_paragraph_title/title_paragraphs') }}
{% set attributes = attributes.setAttribute('data-headerbg', 'transparent') %}
{%
  set classes = [
    'hero',
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% if paragraph.field_style_color is not empty %}
  {% set classes = classes|merge(['is-'~paragraph.field_style_color.value]) %}
  {% if paragraph.field_style_color.value == 'white' %}
    {% set attributes = attributes.removeAttribute('data-headerbg') %}
  {% endif %}
{% endif %}
{% if paragraph.field_style_titlebar.value == false %}
  {% set classes = classes|merge(['hero-project']) %}
{% endif %}
{% if paragraph.field_style_classes is not empty %}
  {% set styles=[] %}
  {% for style in paragraph.field_style_classes %}
    {% set styles = styles|merge([style.value]) %}
  {% endfor %}
  {% set classes = classes|merge(styles) %}
{% endif %}


{% if paragraph.field_style_titlebar.value == true and paragraph.field_image is not empty %}
  {% set attributes = attributes.setAttribute('style', 'background-image: url('~file_url(paragraph.field_image.entity.uri.value)~')') %}
{% endif %}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {% block content %}
    {% if paragraph.field_style_titlebar.value == false %}
    <div class="container">
      <div class="hero-image">
        {{ content.field_image }}
      </div>
      <div class="hero-body">
        {{ content.field_title }}
        {{ content.field_subtitle }}
      </div>
    </div>
    {% else %}
    <div class="hero-body">
      <div class="container">
        <div class="titlebar">
          <div class="titlebar_title">
            <h1 class="title is-2">{{ content.field_title.0 }}</h1>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endblock %}
  </section>
{% endblock paragraph %}
